apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ backend_serviceaccount_name }}
  namespace: {{ app_serviceaccounts_namespace }}
  labels:
    app: backend
    component: api
    managed-by: ansible
automountServiceAccountToken: false
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ frontend_serviceaccount_name }}
  namespace: {{ app_serviceaccounts_namespace }}
  labels:
    app: frontend
    component: web
    managed-by: ansible
automountServiceAccountToken: false
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ mysql_serviceaccount_name }}
  namespace: {{ app_serviceaccounts_namespace }}
  labels:
    app: mysql
    component: database
    managed-by: ansible
automountServiceAccountToken: false
