apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ kaniko_frontend_pv_name }}
spec:
  capacity:
    storage: {{ kaniko_storage_size }}
  accessModes:
    - ReadWriteMany
  storageClassName: {{ kaniko_storage_class }}
  persistentVolumeReclaimPolicy: Retain
  nfs:
    server: {{ kaniko_nfs_server }}
    path: {{ kaniko_frontend_nfs_path }}

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ kaniko_frontend_pvc_name }}
  namespace: {{ kaniko_namespace }}
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: {{ kaniko_storage_class }}
  resources:
    requests:
      storage: {{ kaniko_storage_size }}
