---
adminUser: "{{ grafana_admin_user }}"
adminPassword: "{{ grafana_admin_password }}"

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  ingressClassName: nginx
  hosts:
    - "{{ grafana_hostname }}"
  path: /
  pathType: Prefix

datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
      - name: "{{ prometheus_datasource_name }}"
        type: prometheus
        access: proxy
        url: "{{ prometheus_datasource_url }}"
        isDefault: true

persistence:
  enabled: false

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 512Mi
