apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ jenkins_ingress_name }}
  namespace: {{ jenkins_namespace }}
spec:
  ingressClassName: {{ jenkins_ingress_class_name }}
  rules:
    - host: {{ jenkins_ingress_host }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ jenkins_service_name }}
                port:
                  number: {{ jenkins_http_port }}
