apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ jenkins_pv_name }}
spec:
  capacity:
    storage: {{ jenkins_storage_size }}
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: manual
  nfs:
    server: {{ jenkins_nfs_server }}
    path: {{ jenkins_nfs_path }}
