apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ jenkins_pvc_name }}
  namespace: {{ jenkins_namespace }}
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: manual
  resources:
    requests:
      storage: {{ jenkins_storage_size }}
