apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ jenkins_app_name }}
  namespace: {{ jenkins_namespace }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ jenkins_app_name }}-cluster-admin
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cluster-admin
subjects:
  - kind: ServiceAccount
    name: {{ jenkins_app_name }}
    namespace: {{ jenkins_namespace }}
