apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ backend_ingress_name }}
  namespace: {{ app_ingress_namespace }}
  annotations:
    nginx.ingress.kubernetes.io/use-regex: "true"
    nginx.ingress.kubernetes.io/rewrite-target: /$2
spec:
  ingressClassName: {{ app_ingress_class_name }}
  rules:
    - http:
        paths:
          - path: /api(/|$)(.*)
            pathType: ImplementationSpecific
            backend:
              service:
                name: {{ backend_service_name }}
                port:
                  number: {{ backend_service_port }}
