apiVersion: v1
kind: Secret
metadata:
  name: {{ backend_secret_name }}
  namespace: {{ app_namespace }}
  labels:
    app: backend
    component: api
    managed-by: ansible
type: Opaque
stringData:
  DB_HOST: "{{ mysql_service_name }}"
  DB_PORT: "{{ mysql_service_port }}"
  DB_NAME: "{{ mysql_database }}"
  DB_USER: "{{ mysql_app_user }}"
  DB_PASSWORD: "{{ vault_mysql_app_password }}"
